@page "/signup"
@using LiveBlip.Models
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer
@inject NavigationManager Navigation


<PageTitle>Sign Up</PageTitle>

<div class="login-form">
    <div class="signup-heading">
        <h1>Register</h1>
    </div>
    <EditForm Model="@signUpModel" OnValidSubmit="OnValidSubmit" FormName="signupForm">
        <DataAnnotationsValidator/>
        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Username" HelperText="Max. 8 characters"
                                    @bind-Value="signUpModel.Username"
                                    For="@(() => signUpModel.Username)"/>
                        <MudTextField Label="Email" Class="mt-3"
                                    @bind-Value="signUpModel.Email"
                                    For="@(() => signUpModel.Email)"
                                    InputType="InputType.Email"/>
                        <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                    @bind-Value="signUpModel.Password"
                                    For="@(() => signUpModel.Password)"
                                    InputType="InputType.Password"/>
                        <MudTextField Label="Confirm Password" HelperText="Repeat the password" Class="mt-3"
                                    @bind-Value="signUpModel.Password2"
                                    For="@(() => signUpModel.Password2)"
                                    InputType="InputType.Password"/>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Class="ml-auto">Register</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="5">
                <MudPaper Class="pa-4 mud-height-full">
                    <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                    @if (success)
                    {
                        <MudText Color="Color.Success">Success</MudText>
                    }
                    else
                    {
                        <MudText Color="@Color.Error">
                            <ValidationSummary />
                        </MudText>
                    }
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.body2" Align="Align.Center">
                    Fill out the form correctly to see the success message.
                </MudText>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>



@code {
    SignUpModel signUpModel {get; set;} = new();
    bool success;
	private string errorMessage;
    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }

}
